<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.nf511.flower_team.dao.flowerBranchNumberDao"><!--.dao-->
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称-->
    <resultMap id="allFlowerBranchNumber" type="FlowerBranchNumber">
        <id column="flowerBranchNumberId" property="flowerBranchNumberId"></id>
        <result column="flowerBranchNumber" property="flowerBranchNumber"></result>
    </resultMap>
    <!--查询id-->
    <select id="selectAllFlowerBranchNumberId" resultMap="allFlowerBranchNumber">
      select  * from flowerbranchnumber where flowerBranchNumberId=#{flowerBranchNumberId}
    </select>
    <!--查询全部-->
    <select id="selectAllFlowerBranchNumber" resultMap="allFlowerBranchNumber">
         select * from flowerbranchnumber
    </select>
    <!--分页查询-->
    <select id="selectAllFlowerBranchNumberIdByPage" resultMap="allFlowerBranchNumber">
         select * from flowerbranchnumber limit #{pagelimit},#{size};
    </select>

    <!--删除-->
    <delete id="deleteFlowerBranchNumberId" parameterType="int">
        delete from flowerbranchnumber where flowerBranchNumberId=#{flowerBranchNumberId};
    </delete>

    <!--批量删除-->
    <delete id="deleteAll" parameterType="java.util.List">
        delete from flowerbranchnumber
        <where>
            <if test="flowerBranchNumberId!=null and flowerBranchNumberId.size() gt 0">
                flowerBranchNumberId in
                <foreach collection="flowerBranchNumberIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>

    <!--添加-->
    <insert id="insertFlowerBranchNumberId" parameterType="FlowerBranchNumber" useGeneratedKeys="true" keyProperty="flowerBranchNumberId">
        insert into flowerbranchnumber(flowerBranchNumber)
        values (#{flowerBranchNumber)
    </insert>
    <!--修改-->
    <update id="updateFlowerBranchNumberId" parameterType="FlowerBranchNumber">
      update flowerbranchnumber set flowerBranchNumber=#{flowerBranchNumber} where flowerBranchNumberId=#{flowerBranchNumberId}
    </update>
</mapper>